<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Account</title>
    </head>
    <body>
        <form action="/{{ mode }}/" method="POST">
            <table border="0">
                <tr bg="#cccccc">
                    <td colspan="250" align="center">{{ mode }}</td>
                </tr>
                <br/>
                <tr>
                    <td>username</td>
                    <td align="center">
                        <input type="text" name="username" maxlength="64"/>
                    </td>
                </tr>
                <tr>
                    <td>password</td>
                    <td align="center">
                        <input type="password" name="password" maxlength="64"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" name="submit" value="submit"/>
                    </td>
                </tr>
            </table>
        </form>


        <p>{{ info }} </p>
    </body>
</html>